/* GERAL */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fff url(Imagens/fundo.png) repeat-x;
}
ul{
    list-style-type: none;
}

#container{
    width: 750px;
    margin: 0 auto;
}
/* TOPO E NAVEGAÇÃO */
#topo{
    height: 150px;
    background: url(Imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}
.logo{
    width: 152px;
    height: 66px;
    background: url(Imagens/logo.png) no-repeat center;
    text-indent: -3000px;   /* Esconde o texto do usuário, mas torna o site acessível caso o CSS não carregue por algum motivo */
}
#topo ul a{
    text-decoration: none;
    float: left;
    padding: 13px 15px;
    background: rgba(182, 17, 58, 0.918) url(Imagens/divisor.png) repeat-y;
    color: #fff;
    margin-top: 10px;
}
#topo ul li{
    list-style-type: none;
    margin: 15px 0;
}
#topo ul .atual a{
    background-color: rgb(219, 21, 71);
}
#topo ul .primeiro a{
    background-image: none;
}
#topo ul a:hover{
    color: #69001d;
}
/* CORPO DO SITE */
#conteudo{
    margin-top: 80px;
}

/* PRIMARIO */
#tres-colunas #primario{
    float: left;
    width: 270px;
    margin: 0 0 20px 195px;
}
.titulo-reportagem{
    color: #fff;
    background: #ac113d;
    display: inline;
    padding: 3px 5px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 3px;
}
.foto-reportagem{
    width: 98%;
    margin-top: 5px;
    border: 3px solid #dfdfdf;
}
.caixa{
    background: url(Imagens/fundo-caixa.png);
    padding-bottom: 1px;
    margin-bottom: 10px;
}
.caixa-conteudo a{
    color: #b10333;
}
.caixa-conteudo a:hover{
    color: red;
}

#lista-noticias li {
	padding: 2px;
	border-bottom: 1px solid #ccc; 
	height: 62px;
}

#lista-noticias li a img {
	float: left;
	margin: 5px;
}

#lista-noticias li a {
	text-decoration: none;
}

#lista-noticias li a h3 {
	font-size: 0.8em;
	padding: 0;
	color: #3e7ab9;
}

#lista-noticias li a p {
	font-size: 0.7em;
	color: #000;
}

#lista-noticias li:hover {
	background: #eee;
	cursor: pointer;
}
/* SECUNDÁRIO */
#secundario{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}
/* LATERAL */
#lateral{
    background: url(Imagens/fundo-caixa.png);
    float: left;
    width: 180px;
    margin: 0 0 20px -750px;
}
.caixa h2{
    background-color:#294c71;
    font-size: 1em;
    padding: 5px;
    color: #fff;
    margin-bottom: 5px;
}
#lateral .caixa ul{
    margin-bottom: 5px;
}
#lateral .caixa ul li{
    list-style-type: none;
}
#lateral .caixa ul li a{
    background: #fff;
    margin: 0 auto;
    padding: 10px;
    display: block;
    width: 140px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    border-bottom: 1px solid #ececec;
}
#lateral .caixa ul li a:hover{
    background: #f9f9f9 url(Imagens/marcador.png) no-repeat center left;
    color: #a1a1a1;
    text-indent: 15px;
}
.caixa-conteudo{
    background-color: #fff;
    margin: 5px;
    padding: 5px;
}
.caixa-conteudo .email{
    width: 140px;
    height: 25px;
    border-top: 2px solid black;
}
.caixa-conteudo .submit{
    height: 30px;
    width: 80px;
    color: #fff;
    background: #b10333;
    border: 2px solid #870529;
}
/* RODAPÉ */
#container-rodape{
    background: #294c71;
    padding: 20px;
}
#rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
}